
<h5 class="header col s12 light">{{ eld?.eldId || eld?.name }} 
</h5> 

<div class="col s12">

    <ul class="tabs blue">
      <li class="tab col s3"><a class="active">Tracking Information</a></li>
    </ul>

  <h6 class="header col s4">Select date range:</h6>
  <form [formGroup]="myForm" class="s12" novalidate>
    <my-date-range-picker name="mydaterange" [options]="myDateRangePickerOptions"
                    formControlName="myDateRange" 
                    (dateRangeChanged)="onDateRangeChanged($event)"
                    ></my-date-range-picker>
  </form>

<div class="collection blue" *ngFor="let currentTracking of currentTrackings">
    <a  class="collection-item"><span class="left">
      Lat: {{ currentTracking.latitude }}, Long: {{ currentTracking.longitude }}
      Odo: {{ currentTracking.odometer }}, RPM: {{ currentTracking.rpm }}
      </span> 
      <span class="badge">{{ currentTracking.gpsDateTime }}</span> 
      Speed: {{ currentTracking.speed }}</a>
  </div>
</div>